* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}
.wrapper {
    display: grid;
}
.flex {
    display: flex;
}
.box {
    height: 50px;
    display: grid;
    border: 1px solid black
}
.col-50 {
    width: 50%;
}
.col-33 {
    width: 33.33%;
}
.col-66 {
    width: 66.66%;
}
.col-75 {
    width: 75%;
}
.col-25 {
    width: 25%;
}
.color-blue {
    background-color: blue;
}
.color-red {
    background-color: red;
}
.color-green {
    background-color: green;
}
.color-gray {
    background-color: gray;
}
@media screen and (min-width: 320px) {
    .wrapper {
        min-width: 320px;
    }
}

@media screen and (min-width: 768px) {
    .wrapper {
        min-width: 768px;
    }
}

@media screen and (min-width: 1366px) {
    .wrapper {
        min-width: 1366px;
    }
}