* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}
.wrapper {
    display: grid;
}
.flex {
    display: flex;
}
.box {
    height: 50px;
    display: grid;
    border: 1px solid black
}
/* .col-lg-100 {
    width: 100%;
}
.col-sm-50 {
    width: 50%;
}
.col-xs-33 {
    width: 33.33%;
}
.col-sm-66 {
    width: 66.66%;
}
.col-lg-75 {
    width: 75%;
}
.col-xs-25 {
    width: 25%;
} */
.color-blue {
    background-color: blue;
}
.color-red {
    background-color: red;
}
.color-green {
    background-color: green;
}
.color-gray {
    background-color: gray;
}
@media screen and (min-width: 320px) {
    .col-lg-100 {
        width: 100%;
    }
    .col-sm-50 {
        width: 50%;
    }
    .col-xs-33 {
        width: 33.33%;
    }
    .col-sm-66 {
        width: 66.66%;
    }
    .col-lg-75 {
        width: 75%;
    }
    .col-xs-25 {
        width: 25%;
    }
}

@media screen and (min-width: 768px) {
    .col-lg-100 {
        width: 100%;
    }
    .col-sm-50 {
        width: 50%;
    }
    .col-xs-33 {
        width: 33.33%;
    }
    .col-sm-66 {
        width: 66.66%;
    }
    .col-lg-75 {
        width: 75%;
    }
    .col-xs-25 {
        width: 25%;
    }
}

@media screen and (min-width: 1366px) {
    .col-lg-100 {
        width: 100%;
    }
    .col-sm-50 {
        width: 50%;
    }
    .col-xs-33 {
        width: 33.33%;
    }
    .col-sm-66 {
        width: 66.66%;
    }
    .col-lg-75 {
        width: 75%;
    }
    .col-xs-25 {
        width: 25%;
    }
}